small {
    font-size: 0.75rem;
}

.bg-img {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./imgs/bg.jpg');
}



@media only screen and (min-device-width: 372px) and (max-device-width: 915px) and (orientation: landscape) {
    #no-display {
        display: none!important;
    }
    #footer {
        display: block!important;
    }
    .d-sm-none {
        display: block!important;
    }
    .bg-img {
        display: none!important;
    }
    #card {
        display:!important;
    }
}